@charset "utf-8";

.medLabel {
	padding: 10px;
	font-size: 24px;
}

/* 前臺簽名表單 */
#statefm {
	margin: unset;
}

#statefm table {
	background-color: #fff;
	border-spacing: unset;
}

td span.sBtn { 
	border: solid 1px #999999; 
	border-radius:5px; 
	padding:2px 4px 3px 1px;
}

.page-sidebar-menu2 {	
	margin-left:-16px !important; 
}

/* 補缺 ----------------------------------- */
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before {
	content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}