@charset "utf-8";
/* CSS Document */
.sTable {
	font-family: Verdana, "微軟正黑體";
	font-size: 14px;
	padding: 2px;
	border: 1px solid #ccc;
}
.cmsTable {
	font-family: Verdana, "微軟正黑體";
	font-size: 14px;
	padding: 2px;
}

.topline {
	background-color: #eee;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.more {
	font-size: 14px;
	font-weight: bold;
	color: #C72F3C;
	text-align:right;
	padding-right:1em;
}
.more A:link { COLOR: #C72F3C }
.more A:visited {	COLOR: #C72F3C}
.more A:hover {	COLOR: #ff9900}

.date {
	font-size:smaller;
	color: #C72F3C;
	width: 80px;
	vertical-align:text-top;
	line-height:1em;
}

.rightCell { 
	float:right;
	padding-right:8px;
}
.hdCell {
	font-size: 15px;
	color: #000033;
	height: 20px;
	font-weight: bold;
	background-color: #ddd;
}
.hd2Cell {
	background-color: #FDF4D9;
	height: 12px;	
}
.cell { line-height:20px; vertical-align:text-top; }
.cell A, .more A { text-decoration:none }
.cell A:link { COLOR: #333333 }
.cell A:visited {	COLOR: #333333}
.cell A:hover {	COLOR: #ff9900}
.cellsmall { line-height:20px; vertical-align:text-top; font-size:smaller }