@charset "utf-8";
/* CSS Document */

/* override Components css
#PageControl .nextBtn { color:#0F0; }
*/

h1 {
	font-size: 20px;
	line-height: unset;
}
.container-fluid {
	padding-right: 10px;
  padding-left: 10px;
}
.container-fluid hr { margin:2px; }

.pageInfo {
	float:right;
	padding-top: 6px;
	padding-right: 4px;
}