@charset "utf-8";
/* CSS Document */

html,
body {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	/*background-image: url(../images/login/index-bg.jpg);*/
	background-repeat: no-repeat;
	background-position: center top;
	font-family: "微軟正黑體";
}



/*img {
	max-width:100%;
	height:auto;
}*/

/****************************************************************************/
.index {	
	width: 62.5%;
	height: 100%;
	margin:0 auto;		
}


.index .main {
	width: 100%;
	max-width: 1200px;
	min-width: 560px;  	
	height: auto;
	margin: 136px 0 0 0;
	box-sizing: border-box;
	float: left;
	box-shadow: 0px 0px 40px 0px #999999;
	-webkit-box-shadow: 0px 0px 40px 0px #999999;
	-moz-box-shadow: 0px 0px 40px 0px #999999;
	-o-box-shadow: 0px 0px 40px 0px #999999;
	-webkit-border-top-left-radius: 13px;
	-webkit-border-top-right-radius: 13px;
	-moz-border-radius-topleft: 13px;
	-moz-border-radius-topright: 13px;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	/*background-image: url(../images/login/login_bg.png);*/
	background-position:center;	
}

.index .footer {
	margin-top:60px;
	margin-bottom:40px;
	width: 100%;
	height: auto;
	float: left;
	text-align:center;
	font-size:9px;
	color:#999999;
}


/****************************************************************************/

.index .table{
	display:table;
	border-collapse: collapse; 
	width: 100%;
	height: auto;
}


.index .table-row {
	display:table-row;
}

.index .logo {
	display:table-cell;
	width: 100%;
	height: 41px;
	padding-top:46px;
	padding-left:61px;
}


.index .logo .img {
	width: 100%;
	height: 100%;
	display: block;
	/*background-image: url(../images/login/login_logo.png);*/
	background-repeat:no-repeat;
	background-size: contain;
}

.index .title {
	display:table-cell;
	box-sizing: border-box;
	padding-top:35px;
	padding-left:73px;
	padding-bottom:4px;
	font-size:20px;
	color:#2797D1;
	font-weight: 500;
	letter-spacing:0.6px;
	width: 100%;
	height: auto;
}
/****************************************************************************/
.index .form {
	display:table-cell;
	box-sizing: border-box;
	padding-left:70px;
	width: 100%;
	height: 300px;
}


.index .form .input {
	width:426px;
	height:52px;
	display:block;	
	border:#4C4A4A 1px solid;
	box-sizing:border-box;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size:15px;
	color: #6D6C6C;
	vertical-align:middle;
	margin-top:14px;
	padding-left:56px;
	letter-spacing: 2px;
	outline:none;
	background-position: left;
	background-repeat:no-repeat;	
}


.index .form .input:hover {
	background-color:#DDDDDD;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.index .form .input:focus {
	background-color:#1E2389;
	color:#DDDDDD;

}



.index .form .username {
	background-image: url(../images/login/login_username.png);
	
	
}

.index .form .username:focus {
	background-image: url(../images/login/login_username_.png);
	
	
}



.index .form .password {
	background-image: url(../images/login/login_password.png);
}



.index .form .password:focus {
	background-image: url(../images/login/login_password_.png);
}



.index .form .button {
	width:203px;
	height:42px;
	margin-top:24px;
	box-sizing:border-box;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size:17px;
	color: #DDDDDD;
	letter-spacing: 8px;	
	background-color: #6E6C6C;
	padding-left:18px;
	outline:none;
	border:none;
	cursor: pointer;
}

.index .form .button:hover {
	background-color: #1E2389;
	color: #FFF;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;

}

.index .form .reset {
	margin-left:15px;
}




/****************************************************************************/


.index .info {
	display:table-cell;
	box-sizing: border-box;
	vertical-align:middle;
	padding-left:74px;
	width: 100%;
	height: 78px;
	color: #CCCCCC;
	font-size:12px;
	line-height:19px;
}


/****************************************************************************/




@media only screen and (max-width: 768px) {
	
	
html,
body {
	background-image: url(../images/login/index-bg_ipad.jpg);
	background-attachment: scroll;
	background-position: left top;
}

.index {	
	width: 100%;
	
}
	

.index .main {
	margin: 193px 0 0 0;
	min-width: 730px;	
	height: auto;
	background-color: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	background-image: none;	
}


.index .footer {
	margin-top:10px;
	margin-bottom:10px;
	min-width:730px;
}

.index .logo {
	padding-left:24.8%;
}

	
.index .title {
	padding-top:41px;
	padding-left:22.9%;
	font-size:20.5px;
}	

.index .form {
	padding-left:22.3%;
	height: 500px;
}

.index .form .input {
	width:71.3%;
	
}


.index .form .button {
	width:34%;

}

	

.index .info {
	background-color: #1E2389;
	padding:28px 20%;
	font-size:12px;
	line-height:24px;
	text-align:center;
}


		
}

/****************************************************************************/


@media only screen and (max-width: 480px) {
	
html,
body {
	background-image: url(../images/login/index-bg_mob.jpg);
	background-position: left top;
}	

.index .footer {
	min-width:370px;
}

.index .logo .img {
	background-image: url(../images/login/login_logo_mob.png);
	background-size: auto;
}	
	
.index .main {
	margin: 110px 0 0 0;
	min-width: 370px;
}	

.index .logo {
	padding-left: 10.2%;
}
	
	
.index .title {
	padding-top: 24px;
	padding-left: 6%;
	padding-bottom: 3px;
	font-size: 16px;
}	
	
	
.index .form {
	padding-left:5.7%;
	height: 326px;
}


.index .form .input {
	width:93.7%;
	height:42px;
	font-size:12px;
	padding-left:45px;
	margin-top:10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.index .form .button {
	width:45.1%;
	height: 34px;
	margin-top:18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:13px;
}

.index .form .reset {
	margin-left:8px;
}	


.index .form .username {
	background-image: url(../images/login/login_username_mob.png);
	
	
}

.index .form .username:focus {
	background-image: url(../images/login/login_username_mob_.png);
	
	
}



.index .form .password {
	background-image: url(../images/login/login_password_mob.png);
}



.index .form .password:focus {
	background-image: url(../images/login/login_password_mob_.png);
}


.index .info {
	padding:18px 5%;
	font-size:8pt;
	line-height:18px;

}



	
}