@charset "utf-8";
/* CSS Document */

html,
body {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	background-image: url(../images/common/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	font-family: "微軟正黑體";
}
/*img {
	max-width:100%;
	height:auto;
}*/


/****************************************************************************/

.mainMenu  {	
	width: 62.5%;
	height: 100%;
	margin:0 auto;		
}

.mainMenu .main {
	width: 100%;
	height: auto;
	margin: 126px 0 0 0;
	box-sizing:border-box;
	float: left;
	background-color: #1E2389;
	box-shadow: 0px 0px 40px 0px #888888;
	-webkit-box-shadow: 0px 0px 40px 0px #888888;
	-moz-box-shadow: 0px 0px 40px 0px #888888;
	-o-box-shadow: 0px 0px 40px 0px #888888; 	
}


.mainMenu .footer {
	margin-top:60px;
	margin-bottom:40px;
	width: 100%;
	height: auto;
	float: left;
	text-align:center;
	font-size:9px;
	color:#999999;
}



/****************************************************************************/
.mainMenu .header {
	float: left;	
	display:table;
	border-collapse: collapse; 
	width: 100%;
	height: auto;
}

.mainMenu .header .table-row {	
	display: table-row;
	background-color: #1E2389;
	box-sizing: border-box;
	border-bottom:1px #FFFFFF solid;
}

.mainMenu .login_icon {
	display: table-cell;
	width: 9.7%;
	height: auto;
}

.mainMenu .login_icon div.content {
	width: 116px;
	height: 96px;
	position:relative;
	background-color: #1E2389;	
}

.mainMenu .login_icon div.content .img {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	background-repeat: no-repeat;
	background-image: url(../images/main/info_icon.png);
}

.mainMenu .login_info {
	display:table-cell; 
	text-align: left;
	vertical-align:middle;
	width: 81.6%;
	height: auto;
	background-color: #1E2389;
	box-sizing: border-box;
	letter-spacing: 2.5px;
	font-size: 15px;
	color: #DDDDDD;	
}


.mainMenu .login_btn {
	display:table-cell; 
	width: 8.7%;
	height: auto;
	box-sizing: border-box;		
}

.mainMenu .login_btn div.content {
	width: 104px;
	height: 96px;
	position:relative;
    overflow:hidden;
}


.mainMenu .login_btn div.content .img a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	background-repeat: no-repeat;
	background-image: url(../images/main/info_btn.png);
}

.mainMenu .login_btn div.content .trans {
	width: 100%;
	height: 100%;
	display:block;
	position: absolute;
	z-index:0;
    transition: left 0.3s;
}

.mainMenu .login_btn div.content .top {
    left: -100%;
    background-color: #4C4A4A;	
}

.mainMenu .login_btn div.content:hover .top {
    left: 0%;
}

.mainMenu .login_btn div.content .bottom {
    left: 0%;
    background-color: #1E2389;
}


/****************************************************************************/


.mainMenu .menu {
	width: 100%;
	height: auto;
	float:left;	
	background-color: #FFFFFF;
	border: #565AA7 3px solid;
	box-sizing:border-box;
	text-align:center;
	padding-left:4px;
}


.mainMenu .menu > div.submenu {
	border: 1px #DDDDDD solid;
	box-sizing: border-box;
    margin:0;
	width: 198px;
	height: 210px;
	text-align: center;
	display:inline-block;
	margin-left:-5px;
	margin-bottom:-1px;
    /* 最主要就下面這行     
    float:left;*/
	color: #555555;
	font-size: 17px;
	letter-spacing: 2px;
	line-height:340px;
}



.mainMenu .menu > div.submenu a {
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-size:cover;	
	background-position: center;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	transform: scale(1);	
}

.mainMenu .menu > div.submenu a:hover {
	transform: scale(1.1);
}

/*.mainMenu .menu:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}*/


/****************************************************************************/
.mainMenu .submenu_01 a {
	background-image: url(../images/main/submenu_01.png);
	color: #555555;
}


.mainMenu .submenu_01 a:hover {
	background-image: url(../images/main/submenu_01_.png);
	color: #696969;
}
/****************************************************************************/

.mainMenu .submenu_02 a {
	background-image: url(../images/main/submenu_02.png);
	color: #555555;
}


.mainMenu .submenu_02 a:hover {
	background-image: url(../images/main/submenu_02_.png);
	color: #688E23;
}

/****************************************************************************/
.mainMenu .submenu_03 a {
	background-image: url(../images/main/submenu_03.png);
	color: #555555;
}


.mainMenu .submenu_03 a:hover {
	background-image: url(../images/main/submenu_03_.png);
	color: #746CC0;
}

/****************************************************************************/
.mainMenu .submenu_04 a {
	background-image: url(../images/main/submenu_04.png);
	color: #555555;
}


.mainMenu .submenu_04 a:hover {
	background-image: url(../images/main/submenu_04_.png);
	color: #DAA520;
}

/****************************************************************************/
.mainMenu .submenu_05 a {
	background-image: url(../images/main/submenu_05.png);
	color: #555555;
}


.mainMenu .submenu_05 a:hover {
	background-image: url(../images/main/submenu_05_.png);
	color: #DB7093;
}

/****************************************************************************/
.mainMenu .submenu_06 a {
	background-image: url(../images/main/submenu_06.png);
	color: #555555;
}


.mainMenu .submenu_06 a:hover {
	background-image: url(../images/main/submenu_06_.png);
	color: #FF7F50;
}

/****************************************************************************/
.mainMenu .submenu_07 a {
	background-image: url(../images/main/submenu_07.png);
	color: #555555;
}


.mainMenu .submenu_07 a:hover {
	background-image: url(../images/main/submenu_07_.png);
	color: #4169E1;
}
/****************************************************************************/
.mainMenu .submenu_08 a {
	background-image: url(../images/main/submenu_08.png);
	color: #555555;
}


.mainMenu .submenu_08 a:hover {
	background-image: url(../images/main/submenu_08_.png);
	color: #DC143C;
}
/****************************************************************************/
.mainMenu .submenu_09 a {
	background-image: url(../images/main/submenu_09.png);
	color: #555555;
}


.mainMenu .submenu_09 a:hover {
	background-image: url(../images/main/submenu_09_.png);
	color: #4682B4;
}
/****************************************************************************/
.mainMenu .submenu_10 a {
	background-image: url(../images/main/submenu_10.png);
	color: #555555;
}


.mainMenu .submenu_10 a:hover {
	background-image: url(../images/main/submenu_10_.png);
	color: #2E8B57;
}

/****************************************************************************/



@media only screen and (max-width: 768px) {
html,
body {
	background-image: url(../images/main/main-bg_ipad.jpg);
	background-attachment: scroll;
	background-position: left top;
}	

.mainMenu {	
	width: 100%;

}


.mainMenu  .main {
	margin: 64px 0 0 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	min-width:768px;
}

.mainMenu .footer {
	margin-top:65px;
	margin-bottom:15px;
	min-width:768px;
}


.mainMenu .header {
	height: 70px;
}

.mainMenu .login_icon {
	width: 11.1%;

}


.mainMenu .login_icon div.content {
	width: 85px;
	height: 70px;
	position:relative;
}

.mainMenu .login_icon div.content .img {
	background-image: url(../images/main/info_icon_ipad.png);
}



.mainMenu .login_info {
	width: 79%;
	letter-spacing: 1.5px;
	font-size: 13px;
}

.mainMenu .login_btn {
	width: 9.9%;		
}


.mainMenu .login_btn div.content {
	width: 76px;
	height: 70px;
}


.mainMenu .login_btn div.content .img a {
	background-image: url(../images/main/info_btn_ipad.png);
}


.mainMenu .menu > div.submenu {
	width: 190px;
	height: 200px;
	font-size: 16px;
	line-height:330px;
}

}


/****************************************************************************/


@media only screen and (max-width: 480px) {
	
	
html,
body {
	background-image: url(../images/main/main-bg_mob.jpg);
}	

.mainMenu  .main {
	margin: 46px 0 0 0;
	min-width:375px;
}
.mainMenu .header {
	height: 50px;
}


.mainMenu .footer {
	min-width:375px;
}

.mainMenu .login_icon {
	width: 15.2%;

}

.mainMenu .login_icon div.content {
	width: 57px;
	height: 50px;
	position:relative;
}

.mainMenu .login_icon div.content .img {
	background-image: url(../images/main/info_icon_mob.png);
}


.mainMenu .login_info {
	width: 73.6%;
	letter-spacing: 1px;
	font-size: 12px;
}

.mainMenu .login_btn {
	width: 14.4%;		
}


.mainMenu .login_btn div.content {
	width: 54px;
	height: 50px;
}


.mainMenu .login_btn div.content .img a {
	background-image: url(../images/main/info_btn_mob.png);
}

.mainMenu .menu > div.submenu {
	width: 123px;
	height: 129px;
	font-size: 12px;
	line-height:210px;
}


	
}