<h1 align="center">TEMPLET</h1>
<table width="100%" border="1" cellpadding="4" cellspacing="0">
  <tr>
    <td align="right" bgcolor="#EEEEEE">編號：</td>
    <td>{#id}</td>
    <td align="right" bgcolor="#EEEEEE">名稱：</td>
    <td>{#title}</td>
  </tr>
  <tr>
    <td align="right" bgcolor="#EEEEEE">年齡：</td>
    <td>{#age}</td>
    <td rowspan="3" align="right" bgcolor="#EEEEEE">圖片：</td>
    <td rowspan="3">{#pic}</td>
  </tr>
  <tr>
    <td align="right" bgcolor="#EEEEEE">連絡電話：</td>
    <td>{#tel}</td>
  </tr>
  <tr>
    <td align="right" bgcolor="#EEEEEE">生日：</td>
    <td>{#birthday}</td>
  </tr>
  <tr>
    <td colspan="4" align="center">
      <input type="submit" name="Submit" id="Submit" value="送出" />
      <input type="reset" name="Reset" id="Reset" value="重設" />
    </td>
  </tr>
</table>
