<style>
.columnHead { background-color:#9CF }
.boxBtn { border:solid 1px #999999; padding: 4px; border-radius: 5px; vertical-align:middle; cursor:pointer }
.modal { /* redefine dialog */
	width: unset; 
	margin-left: -150px
}
.modal-body table th {
 border-collapse: collapse;
 border-radius: 5px;
 margin:5px;
 background-color:#CCC;
 font-size: 14px;
}

/* state form ----------- */
#div1 {
	position:absolute; 
	left: 40%; top:30%;
	background-color:#888;
	padding: 12px;
	display:none;
}

#statefm table{
	font-size:larger;
	border-collapse:unset; 
	padding:10px
}
</style>
<script>
	$(function() {
		$("#admDep").first().attr("title", depTL);
		$(".formTxS").first().html(depTL);
	});
	function returnValues(data){
    	var group_id = $("input[name='dt_group_id[]']").first().val();
		$.each( data, function( k, v ) {
			if(v['type']=='orgID'){
				detailForm_addRow();
				$("input[name='dt_org_id[]']").last().val(v['id']);
				$("input[name='dt_org_id[]']").last().attr('title',v['title']);
				$("input[name='dt_org_id[]']").last().after(' '+v['title']);
				$("input[name='dt_group_id[]']").last().val(group_id);
			}
		});

	}

	function detailForm_addRow(){
		var rowStr="<tr><td><button type='button' onclick='detailForm_delRow(this)'>-</button> {[#org_id]}{[#group_id]}{[#group_detail_id]}</td></tr>";
		var rowElm = $(rowStr);
		rowElm.find('.queryID').each(genQueryIcon);
		$('#detailForm').append(rowElm);
	}
	
	function detailForm_delRow(elm){
		var groupid = $(elm).parent().parent().find("input[name='dt_group_id[]']").val();
		var groupDt = $(elm).parent().parent().find("input[name='dt_group_detail_id[]']").val();
		$(elm).parent().parent().remove();
	}
	
	function form1PreCheck(tfm){	//call By inc_listjs.php
		//檢查職員
		if($("input[name='dt_org_id[]']").length<1) {
			alert('尚未新增組織');
			return false;
		}
		//::toDo 檢查職員 
		return true;
	}
</script>
<table width="100%" border="0" cellpadding="4" cellspacing="0" style="background-color:#F8F8F8; border:solid 1px #ccc">
  <!-- Master Table -->
  <tr>
    <td align="right" bgcolor="#EEEEEE">群組編號</td> <td>{#group_id}</td>
    <td align="right" bgcolor="#EEEEEE">群組名稱</td> <td>{#name}</td>
    <td align="right" bgcolor="#EEEEEE">可用部門</td> <td>{#depID}</td>
  </tr>
  
  
  <!-- Detail Table -->
  <tr><td colspan="8">
  <div id="detail">
  <table width="100%" border="1" cellpadding="4" cellspacing="4" id="detailForm">
    <tr>
      <!--<th class="columnHead" align="left"><button type="button" onclick="selectProducts()">+</button> 職員</th>--> 
      <th class="columnHead" align="left"><span type="button" class="queryID" id="orgIDs"></span> 組織</th> 
          
    </tr>
    <!-- [Detail LIST] <tr><td><button type='button' onclick='detailForm_delRow(this)'>-</button> {[#org_id]}{[#group_id]}{[#group_detail_id]}</td></tr> -->
  </table>
  </div>
  </td></tr>
  <!-- Buttons -->
  <tr>
    <td colspan="8" align="center" bgcolor="#999999">
      <input type="submit" name="Submit" id="Submit" value="送出" />
      <input type="reset" name="Reset" id="Reset" value="重設" />
      <input type="button" value="取消" onclick="history.back()" />
    </td>
  </tr>
</table>
