<style>
.columnHead { background-color:#9CF }
.boxBtn { border:solid 1px #999999; padding: 4px; border-radius: 5px; vertical-align:middle; cursor:pointer }
.modal { /* redefine dialog */
	width: unset; 
	margin-left: -150px
}
.modal-body table th {
 border-collapse: collapse;
 border-radius: 5px;
 margin:5px;
 background-color:#CCC;
 font-size: 14px;
}

/* state form ----------- */
#div1 {
	position:absolute; 
	left: 40%; top:30%;
	background-color:#888;
	padding: 12px;
	display:none;
}

#statefm table{
	font-size:larger;
	border-collapse:unset; 
	padding:10px
}
</style>
<script>
	
</script>
<table width="100%" border="0" cellpadding="4" cellspacing="0" style="background-color:#F8F8F8; border:solid 1px #ccc">
  <!-- Mater Table -->
  <tr>
    <td align="right" bgcolor="#EEEEEE">群組編號</td> <td>{#group_id}</td>
    <td align="right" bgcolor="#EEEEEE">群組名稱</td> <td>{#name}</td>
  </tr>
  
  <!-- Detail Table -->
  <tr><td colspan="8">
  <div id="detail">
  <table width="100%" border="1" cellpadding="4" cellspacing="4" id="detailForm">
    <tr>
      <th class="columnHead" align="left">組織</th>     
    </tr>
    <!-- [Detail LIST] <tr><td>{[#org_id]}</td></tr> -->
  </table>
  </div>
  </td></tr>
</table>