 @charset "utf-8";
/* CSS Document */
  #receipt{
  position:absolute;
  left: 20%; top:30%;
  background-color:#7A7DAD;
  padding: 20px;
  display:none;
  z-index:9999;
}

#recepitTable{
  background-color:#FFFFFF;
}