/* 預設字型 */
@font-face {
  font-family: MyOdFont;
  src: local(Heiti TC),
       local("標楷體");
}


/* 英文 */
@font-face {
  font-family: MyOdFont;
  unicode-range: U+00-024F;
  src:  local(Times New Roman),local(Times) ;
}

td.ten {
    font-size: 10pt;              /* 設定文字大小 */



}

td.twelve {
    font-size: 12pt;              /* 設定文字大小 */


}
.twelve {
    font-size: 12pt;              /* 設定文字大小 */

}

.original{
    margin-left : 3em;
    text-indent : -3em;
}

td.sixteen {
    font-size: 16pt;              /* 設定文字大小 */



}
td.sixteenContents {
    vertical-align: top;
    font-size: 16pt;              /* 設定文字大小 */


}



td.eighteen {
    font-size: 18pt;              /* 設定文字大小 */



}
.sixteenS {
    padding-left: 3em;                /* 20190925 */
    font-size: 16pt;                  /* 設定文字大小 */

    


}

td.twenty {
    font-size: 19pt;                    /* 設定文字大小 */



}

a{
     color:black;
     text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

td.paddingLeftRod {
    padding-left: 4em;
    text-indent:-4em;
}

td.paddingLeftSubject {
    padding-left: 3em;
    text-indent:-3em;
}


body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    /*font: 12pt "Tahoma";*/ 
    font-family: MyOdFont, sans-serif;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.printPage {
    width: 21cm;
    min-height: 29.7cm;
    /*padding: 2cm;*/
    padding-right: 1.5cm;
    padding-left: 1.5cm;
    padding-top: 0.6cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .printPage {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
