
tr.row1{
    height: 50px;
}
tr.row2{
    height: 60px;
}
tr.row3{
    height: 60px;
}
tr.row4{
    height: 1px;
}
tr.row5{
    height: 50px;
}
tr.row6{
    height: 1px;
}
tr.row7{
    height: 1px;
}
tr.row8{
    height: 1px;
}
tr.row9{
    height: 1px;
}
tr.row10{
    height: 1px;
}
tr.row11{
    height: 1px;
}
tr.row12{
    /*height: 100px;*/
}
tr.row13{
    min-height: 400px;
}

tr.row14{
    height: 1px;
}
tr.row15{
    height: 1px;
}
tr.row16{
    /*height: 30px;*/
}