@charset "utf-8";
/* CSS Document */

#ListControl table {
	width: 100%;
	border-collapse: collapse;
	border:1px solid #333333;
	font-size:12px;
}

.container-fluid input[type=checkbox] {
	vertical-align:unset;
}

#ListControl .ListRow {
	cursor:pointer;
}

#ListControl .ListRowHide {
	cursor:pointer;
	display:none;
}

#ListControl .GroupRow {
	font-size:larger;
	cursor:pointer;
	background-color:#CCC;
	border:1px solid #333333;
}
#ListControl .GroupRow td {
	padding:4px;
}
#ListControl #listGroup {
	background-color:#FFC;
}
.divSelgroup { display:inline-block;float:left; }
/* .divSelgroup::before {content:"群別：";	color:#F00;} */

#ListControl .columnHead {
	background-color:#EEE;
	border:1px solid #333333;	
	padding: 4px;
}

#ListControl .sortable {
	cursor: pointer;
	color:#F90;
}

#ListControl .columnData {
	text-align:center;
	border:1px solid #333333;
	padding: 2px;
}

#ListControl .columnFirst {
/* reserved for implement */
}

#ListControl .columnDataEven {
	background-color:#FCF;
}

#ListControl .columnDataOdd {
	background-color:#9CF;
}

#ListControl .columnCurrent {
	background-color:#9C0;
}

#ListControl select {
	margin:0 5px;
	width: unset;
	font-size:12px;
	font-family:"微軟正黑體", Verdana
}

#ListControl input {
	width: unset;
	vertical-align:top;
}

#ListControl .goBtn {
	margin:0 8px 0 0;
}

#ListControl .etraBtn {
	margin:0 2px;
}

#ListControl .MonthInp {
	cursor:pointer;
	background-color:#FFF;
}