@charset "utf-8";
/* CSS Document */

#ViewControl table {
	width: 100%;
	border-collapse: collapse;
	/* border:1px solid #333333; */
	font-size:12px;	
}

#ViewControl .spanBtn {
	cursor:pointer;
	color:#0d638f;
	text-decoration:underline;
}

#ViewControl .photoItem {
	display:none;	
}

#ViewControl input {
	font-size:12px;
	margin-bottom:0;
	width: unset;
}
#ViewControl textarea {
	font-size:12px;
	margin-bottom:0;
	width: unset;
}
#ViewControl select {
	width: unset;
	margin-bottom: unset;
}

#ViewControl fieldset input {
	background-color:#EBEBE4;
}

#ViewControl fieldset textarea {
	background-color:#EBEBE4;
}

#ViewControl .colLabel {
	text-align:right;
	background-color:#EEE;
	border:1px solid #333333;	
	padding: 4px 8px 4px 4px;
}

#ViewControl .colData {
	border:1px solid #333333;
	padding: 4px;
}

#ViewControl .rowSubmit {
	background-color:#CCC;
	border:1px solid #333333;
	padding: 4px;
	text-align:center
}

#ViewControl .rowSubmit button {
	margin:2px;
	font-family:"微軟正黑體", Verdana;
}

#ViewControl .need {
	color:#F00;
}

#ViewControl .remark {
	color:#888;
	font-size:smaller;
}

#ViewControl .submitBtn {
	font-size:larger;
}
#ViewControl .resetBtn {
	font-size:larger;
}
#ViewControl .cancilBtn {
	font-size:larger;
}

#ViewControl fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	border:none; 
	padding:0;
}

.ui-datepicker {
	width: 20em;
}