 @charset "utf-8";
/* CSS Document */
 #group_sId{
  position:absolute;
  left: 15%; top:40%;
  background-color:#F19851;
  padding: 5px;
  display:none;
}

 #group_sIds{
  position:absolute;
  left: 15%; top:40%;
  background-color:#F19851;
  padding: 5px;
  display:none;
}

 #group_sidMgr{
  position:absolute;
  left: 55%; top:20%;
  background-color:#F19851;
  padding: 5px;
  display:none;
}

 #group_newSigner{
  position:absolute;
  left: 40%; top:40%;
  background-color:#F19851;
  padding: 5px;
  display:none;
}

 #group_secretViewer{
  position:absolute;
  left: 40%; top:40%;
  background-color:#F19851;
  padding: 5px;
  display:none;
}

#groupTable{
  background-color:#FFFFFF;
}

 #group_nAct{
  z-index: 999;
  position: fixed;
  left: 30%; top:85%;
  background-color:#F19851;
  padding: 5px;
  display:none;
}

 #group_cAct{
  z-index: 999;
  position: fixed;
  left: 60%; top:85%;
  background-color:#F19851;
  padding: 5px;
  display:none;
}