@charset "utf-8";

.formTx {
	font-family: "微軟正黑體", Verdana;
	font-size: 12px;
}
.formTxS { font-size:-1}
.queryID {
	/* */
}
.queryID_img {
	padding-left: 1px;
	padding-bottom: 2px;
	padding-right: 2px;
	cursor:pointer; 
}
.queryID_img2 { 
	padding-top:2px;
	cursor:pointer; 
}
.queryDate {
	
}
.readonlyField {
	background-color: #DDD;
}

/* department/query_id_other	*/
.depID_list,.empID_list{
	overflow-y: auto;
	max-width: 159px;	
    max-height: 100px;
    background: #ffffff;
    padding:5px;
    border:1px solid #ccc;
}
.depID_list ul,.empID_list ul{
	margin: 0;
	padding: 0;
}
.depID_list li,.empID_list li{
	list-style: none;
	padding: 4px 0 4px 0;
}
.depID_list img,.empID_list img{
	cursor: pointer;
}

.query-title{	background: #ccc;padding: 5px;width: 130px;	}

.dep-emp-ul {	padding-left:10px;}
.dep-emp-li {
	float:left;
	margin-right:10px;
	display:inline;
}
